.overallContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 50px;
  margin-top: 10px;
}
.forecastContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.eachForecastContainer {
  display: flex;
  flex-direction: column;
  width: 110px;
  height: 175px;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
  background-color: #d31a1a2e;
  box-shadow: 1px 1px 5px #312f2f8a;
  border-radius: 15px;
}
