* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.weather {
  background-color: #312f2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
#weatherSection {
  display: flex;
  justify-content: center;
}
.categoriesContainer {
  height: 375px;
  background-color: #cdcdcd;
  width: 650px;
  margin-top: auto;
  margin-bottom: auto;
  /* margin-right: 10px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0 20px 20px 0;
}
.categories {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.categories p {
  line-height: 150%;
  padding: 0 20px;
  border: 1px solid aliceblue;
  cursor: pointer;
}
.categories p:hover {
  background-color: #7c7c7c;
}
.categories p:first-child {
  border-radius: 0 0 0 20px;
}

.categories p:last-child {
  border-radius: 0 0 20px 0;
}
p,
li,
h2,
h3,
h4 {
  color: aliceblue;
}
