* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#weatherSection {
  display: flex;
  justify-content: center;
}
.categoriesContainer {
  height: 375px;
  background-color: #6c799a;
  width: 650px;
  margin-top: auto;
  margin-bottom: auto;
  /* margin-right: 10px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0 20px 20px 0;
}
.categories {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.categories p {
  line-height: 150%;
  padding: 0 20px;
  border: 1px solid black;
  cursor: pointer;
}
.categories p:hover {
  background-color: antiquewhite;
}
.categories p:first-child {
  border-radius: 0 0 0 20px;
}

.categories p:last-child {
  border-radius: 0 0 20px 0;
}
