* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.weather {
  background: linear-gradient(45deg, #d8c3e4, #b8e1f5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
#weatherSection {
  display: flex;
  justify-content: center;
}
.categoriesContainer {
  height: 375px;
  background-color: #d1a3c4b2;
  width: 650px;
  margin-top: auto;
  margin-bottom: auto;
  /* margin-right: 10px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0 20px 20px 0;
}
.categories {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.categories p {
  line-height: 150%;
  padding: 0 20px;
  border: 1px solid aliceblue;
  cursor: pointer;
}
.categories p:hover {
  background-color: #d31a1a2e;
}
.categories p:first-child {
  border-radius: 0 0 0 20px;
}

.categories p:last-child {
  border-radius: 0 0 20px 0;
}
p,
li,
h2,
h3,
h4 {
  color: aliceblue;
}
