#todaysWeatherContainer {
  width: 250px;
  background: linear-gradient(45deg, #f5a3b7, #a689d1);
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
}
.weatherUpperContainer,
.weatherLowerContainer {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.weatherIcon {
  width: 70px;
}
