#todaysWeatherContainer {
  width: 250px;
  background-color: rgb(117, 117, 117);
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
}
.weatherUpperContainer,
.weatherLowerContainer {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.weatherIcon {
  width: 70px;
}
